@import url(./__menu/button__menu.css);
@import url(./__lang/button__lang.css);
@import url(./__close-popup/button__close-popup.css);

.button {
  /* сброс стилей */
  text-decoration: none;
  cursor: pointer;
  /* настройки кнопок */
  opacity: 1;
  transition: 0.5s;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.5;
}

.button:active {
  outline-style: none;
}

.button:focus {
  outline-style: none;
}
