@import url(./__menu/button__menu.css);
@import url(./__close-popup/button__close-popup.css);
@import url(./__close-menu/button__close-menu.css);
@import url(./__word/button__word.css);
@import url(./__submit/button__submit.css);

.button {
  /* сброс стилей */
  cursor: pointer;
  /* настройки кнопок */
  opacity: 1;
  transition: 0.5s;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.5;
}

.button:active {
  outline-style: none;
}

.button:focus {
  outline-style: none;
}
