@import url(./__icon/header__icon.css);
@import url(./__nav/header__nav.css);
@import url(./__scrolled/header__scrolled.css);

.header {
  width: calc(100vw - 20px);
  height: calc(var(--vh, 1vh) * 8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transition: 1s ease-in-out;
  z-index: 5;
}
