@import url(./__icon/header__icon.css);
@import url(./__nav/header__nav.css);
@import url(./__links/header__links.css);
@import url(./__scrolled/header__scrolled.css);

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  padding: 0 15px;
  transition: 1s ease-in-out;
  z-index: 5;
}
