@import url(./_main/button__menu_main.css);
@import url(./_other/button__menu_other.css);

.button__menu {
  padding: 0;
  margin: 0;
  width: min(30px, 7vw);
  height: min(30px, 7vw);
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
