@import url(./__container/form__container.css);
@import url(./__paragraph/form__paragraph.css);

.form {
  /* height: 75vh;
  height: calc(var(--vh, 1vh) * 75); */
  display: flex;
  align-items: center;
}
