.button__close-popup {
  width: min(30px, 8vw);
  height: min(30px, 8vw);
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: min(20px, 1vw);
  right: min(20px, 1vw);
  background: transparent;
  background-image: url("../../../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
