@import url(./vendors/normalize.css);
@import url(./block/paragraph/paragraph.css);
@import url(./block/text-color/text-color.css);
@import url(./block/text-size/text-size.css);

@font-face {
  font-family: 'Bahnschrift';
  src: local('Bahnschrift'), url(./vendors/Fonts/Bahnschrift.woff) format('woff');
}

@font-face {
  font-family: 'BankGothicMdBT-Medium';
  src: local('BankGothicMdBT-Medium'), url(./vendors/Fonts/BankGothicMdBT-Medium.woff) format('woff');
}

body {
  margin: 0;
  font-family: 'Bahnschrift';
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Bahnschrift';
  font-weight: 300;
}
